services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: dkx_gettingstarted_mssql
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Abcd1234!
      - MSSQL_PID=Developer
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S mssql -U SA -P 'Abcd1234!' -Q 'select 1'
    ports:
      - 14339:1433
    volumes:
      - mssql:/var/opt/mssql
    networks:
      - dkx_gettingstarted

  mssqlscripts:
    image: mcr.microsoft.com/mssql-tools:latest
    container_name: dkx_gettingstarted_mssqlscripts
    depends_on:
      - mssql
    command: /bin/bash -c 'until /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P "Abcd1234!" -Q "SELECT @@VERSION"; do sleep 5; done'
    networks:
      - dkx_gettingstarted

  postgres:
    image: postgres:16
    container_name: dkx_gettingstarted_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Abcd1234!
      - POSTGRES_DB=appdb
      # - LANG=en_US.utf8
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d appdb -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 54329:5432
    volumes:
      - postgres:/var/lib/postgresql/data
      # Optionally seed SQL files: anything in /docker-entrypoint-initdb.d runs on first init
      # - ./db/init-sql:/docker-entrypoint-initdb.d:ro
    networks:
      - dkx_gettingstarted

  pgscripts:
    image: postgres:16
    container_name: dkx_gettingstarted_pgscripts
    depends_on:
      - postgres
    command: /bin/bash -c 'until pg_isready -h postgres -U postgres -d appdb; do sleep 5; done && echo "Postgres is ready";'
    environment:
      - PGPASSWORD=Abcd1234!
    networks:
      - dkx_gettingstarted

  pgadmin:
    image: dpage/pgadmin4:9.9
    container_name: dkx_gettingstarted_pgadmin
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=Abcd1234!
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
      - PGADMIN_CONFIG_SERVER_MODE=False
    ports:
      - 16549:80 # http://localhost:16549
    volumes:
      - pgadmin:/var/lib/pgadmin
      - .dkx/docker/pgadmin-servers.json:/pgadmin4/servers.json:ro
      - .dkx/docker/pgadmin-pgpass:/var/lib/pgadmin/.pgpass:ro
    depends_on:
      - postgres
    networks:
      - dkx_gettingstarted

  adminneo:
    image: adminneoorg/adminneo:devel
    container_name: dkx_gettingstarted_adminneo
    restart: unless-stopped
    ports:
      - "18089:8080" # webapp http://localhost:18089
    environment:
      NEO_COLOR_VARIANT: "green"
      NEO_PREFER_SELECTION: "true"
      NEO_JSON_VALUES_DETECTION: "true"
      NEO_JSON_VALUES_AUTO_FORMAT: "true"
      NEO_SSL_TRUST_SERVER_CERTIFICATE: "true"
      NEO_SERVERS: >
        [
          {
            "driver": "mssql",
            "name": "[docker] master",
            "server": "mssql",
            "database": "master",
            "username": "sa",
            "password": "Abcd1234!"
          },
          {
            "driver": "pgsql",
            "name": "[docker] postgres",
            "server": "postgres",
            "database": "appdb",
            "username": "postgres",
            "password": "Abcd1234!"
          }
        ]
    volumes:
      - .dkx/docker/adminneo-config.php:/var/www/html/adminneo-config.php
    networks:
      - dkx_gettingstarted

  seq:
    image: datalust/seq:2025.2
    container_name: dkx_gettingstarted_seq
    restart: unless-stopped
    ports:
      - 15349:80 # http://localhost:15349 azure:https://ml-software.ch/posts/running-seq-on-azure
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_REQUIREAUTHENTICATIONFORHTTPINGESTION=False
      - SEQ_FIRSTRUN_NOAUTHENTICATION=TRUE
      # - SEQ_FIRSTRUN_ADMINUSERNAME=admin
      # - SEQ_FIRSTRUN_ADMINPASSWORD=admin
      # https://blog.datalust.co/setting-an-initial-password-when-deploying-seq-to-docker/
      # - SEQ_FIRSTRUN_ADMINPASSWORDHASH=FIQIay86/lqTJOWoq8jeh1KUr3wSfubJJ+/mB+fluLSK+ZhBQQ==
    volumes:
      - seq:/data
    networks:
      - dkx_gettingstarted

  registry:
    image: registry:3
    container_name: dkx_gettingstarted_registry
    restart: unless-stopped
    ports:
      - 5500:5000
    environment:
      - REGISTRY_STORAGE_DELETE_ENABLED=true
    volumes:
      - registry:/var/lib/registry
    networks:
      - dkx_gettingstarted

  # aspire-dashboard:
  #   image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
  #   container_name: dkx_aspire-dashboard
  #   restart: unless-stopped
  #   ports:
  #     - 18889:18888
  #     - 43179:18889
  #   environment:
  #     - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
  #   networks:
  #     - dkx_gettingstarted

volumes:
  mssql:
    name: dkx_gettingstarted_mssql
    driver: local
  postgres:
    name: dkx_gettingstarted_postgres
    driver: local
  pgadmin:
    name: dkx_gettingstarted_pgadmin
    driver: local
  seq:
    name: dkx_gettingstarted_seq
    driver: local
  registry:
    name: dkx_gettingstarted_registry
    driver: local

networks:
  dkx_gettingstarted:
    name: dkx_gettingstarted
    driver: bridge